name: Generate Pac-Man Graph

on:
  # Her 24 saatte bir otomatik çalışır
  schedule:
    - cron: "0 0 * * *" 

  # Test etmek istersen 'Actions' sekmesinden manuel tetiklemene izin verir
  workflow_dispatch:

  # Main branch'e her push yapıldığında çalışır
  push:
    branches:
    - main

jobs:
  generate:
    permissions: 
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      # Pac-Man animasyonunu oluşturur
      - name: generate-pacman-graph
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: ${{ github.repository_owner }}

      # Oluşan SVG dosyasını "output" adlı bir branch'e yollar
      - name: push-pacman-graph
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
